* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-left: 20px;
}

.hero-container {
    padding: 40px 350px 40px 350px;
    background: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
}

.hero-bold {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.signup {
    margin-top: 25px;
    background: #3882F6;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 10px; 
}

.hero-text {
    width: 500px;
}

.placeholder {
    width: 500px;
    background: gray;
    text-align: center;
}

.info-container h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 20px 0 25px 0;
}

.pic-grid {
    display: flex;
    justify-content: center;
}

.pic {
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.word-grid {
    display: flex;
    justify-content: center;
}

.word {
    height: 150px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.testimonial-container {
    background: #E5E7EB;
    padding: 100px 0 100px 0;
}

.size {
    display: block;
    width: 600px;
    margin: 0 auto;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.author {
    text-align: right;
    font-weight: bold;
}

.callaction-container {
    display: flex;
    justify-content: center;
}

.bluebox {
    display: flex;
    justify-content: space-between;
    background: #3882F6;
    color: #F9FAF8;
    padding: 30px 75px;
    width: 700px;
    margin: 50px 20px;
    border-radius: 10px;
}

.action-bold {
    font-weight: 800;
}

.actionbutton {
    align-items: center;
}

.action-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 10px;
    padding: 10px 40px;
}

.foot-container {
    background: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 25px 0;
}